.top-header{
    height: 80px;
    line-height: 80px;
}
.bottom-header{
    height: 50px;
    line-height: 50px;
    background-color: rgb(67,175,222);
}
.top-header h1 {
    color: rgb(67,175,222);
    line-height: 80px;
    margin-left: 20px;
    font-family: 'Abril Fatface', cursive;
}
.card{
    background-color: rgb(246,245,247);
    width: 150px;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    cursor: pointer;
}
span{
    color: black;
}